.autocomplete
  width: 100%

.autocomplete__input
  padding: 15px
  border-radius: 5px
  border: 0
  font-size: 1.5em
  text-align: center
  outline: 0px
  margin-top: 55%

.autocomplete__results__ul
  margin-top: 30px
  margin-bottom: 30px
  width: 42%
  height: 40vh
  overflow-y: auto
  flex-wrap: wrap
  flex-direction: row
  display: flex

.autocomplete__results__li
  align-items: center
  height: 50px
  padding: 10px
  padding-right: 25px
  flex: 1 1 auto
  
  &:hover, &.is-selected
    background-color: #ffffff
