.result
  display: block
  position: absolute
  width: 50%

.result--opacity
  height: 100vh

  .sheets__item--left &
    background: rgba(#b2d8f6, 0.9)

  .sheets__item--right &
    background: rgba(254, 190, 245, 0.9)

.result__back-button
  margin-top: 30px
  padding: 10px 20px
  border-radius: 5px
  text-decoration: none
  color: #fff
  font-family: 'Maven Pro', sans-serif
  position: absolute
  left: 50px

  .sheets__item--left &
    background: rgba(126, 174, 215, 0.6)

  .sheets__item--right &
    background: rgba(222, 136, 209, 0.6)

.result__title
  font-family: 'Maven Pro', sans-serif
  font-weight: 700
  font-size: 2em
  line-height: 3em
  padding-top: 30px

  .sheets__item--left &
    color: rgba(95, 150, 198, 1)

  .sheets__item--right &
    color: rgba(190, 94, 176, 1)

.result__list
  margin: 30px auto
  width: 80%

.result__list__item
  margin-bottom: 10px

.result__grid-list
  display: flex
  margin: 30px auto
  width: 80%
  justify-content: space-between
  flex-wrap: wrap

.result__grid-list__item
  width: 30%
  margin-bottom: 10px

.result__tabs
  font-family: 'Maven Pro', sans-serif

.result__tab
  display: inline-block
  padding: 10px 20px
  border-radius: 5px
  margin: 0 15px
  text-decoration: none
  color: #fff
  border: 0

  .sheets__item--left &
    background: rgba(95, 150, 198, 0.6)

  .sheets__item--right &
    background: rgba(190, 94, 176, 0.6)

.result__tab--active
  border: 2px solid #fff

